header {
    height: 100vh;
    ---background-color: #424378;
    ---color-letter: #FAFAFA;
    ---select-background:rgb(78, 78, 114);
    ---other-background: #35394b;
    ---other-select-background: #2F4BFF;
    position: fixed;
}

nav {

    display: flex;
    background-color: var(---other-background);
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100px;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: max-content;
    gap: 20px;
    padding: 0px;
}

.a-logo {
    background-position: center;
    background-size: contain;
    background-image: url("/genetic.svg");
    background-repeat: none;
    margin: center;
    height: 120px;
    width: 110px;
}

ul > li {
    padding: 4px;
    text-align: center;
    color: var(---color-letter);
    transition: transform 1s;
}

ul li:hover {
    background-color: var(---other-select-background);
    transform: translateX(20px);
    cursor: pointer;
}


ul > .a-home {
    text-decoration: none;
    color: var(---color-letter);
    text-align: center;
    transition: transform 1s;
}

ul a li {
    align-items: center;
    height: 18px;
    padding: 4px;
}


ul > .a-home:hover {
    transform: translateX(20px);
}

nav ol {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px;
    margin-top: auto;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}

nav ol a  {
    cursor: pointer;
    text-decoration: none;
    color: var(---color-letter);
}

nav ol a:hover {
    font-weight: bold;
}

nav ol li {
    color: var(---color-letter);
}