.div-signin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    ---background-color: #424378;
    ---color-letter: #FAFAFA;
    ---select-background:rgb(78, 78, 114);
    ---other-background: #35394b;
    ---other-select-background: #2F4BFF;
    ---other-color-letter: #575757;
}

.div-signin div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2 {
    text-align: left;
    color: var(---other-color-letter);
}

.btn-signin {
    color: #999797;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    background-color: #ebebeb;
    border: 0.5px solid #ebebeb;
    padding: 7px;
    width: 100%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn-signin {
    cursor: pointer;
}

.div-signin form {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form label {
    font-weight: 500;
    color: #575757;
    text-transform: uppercase;
}

form input {
    font-size: 18px;
    border: 0px;
    outline: none;
    padding: 7px;
    box-shadow: 0 2px 1px 0 rgba(255, 255, 255, 0.2), 0 0px 0px 1px rgba(48, 48, 48, 0.19);
    background-color: #fcfcfc;
    /* border-bottom: 5px solid var(---other-background) */
}
/* 
form input:where(:focus) {
    border: 4px solid var(---other-background);
} */

