@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Rubik:wght@300&display=swap');

* {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: 0px;
  margin: 0px;
  ---btn-color-blue: #2F4BFF;
  ---btn-color-red: #F23D3F;
  ---btn-color-green: #75ac60;
  ---btn-color-dor: #CF8F59;
  ---btn--select-blue: #2135b6;
  ---btn--select-red: #c23032;
  ---btn-select-green: #517742;
  ---btn-select-dor: #94653f;
}


section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  height: 300vh;
}

section h1 {
  margin-top: 20px;
}

h1, h2, h3 {
  color: #575757;
}


table {
  margin-top: 20px;
  margin-left: 100px;
}

table, th, td {
  border: 0;
  border-collapse: collapse;
  
  padding: 20px;
}

th {
  text-align: center;
  /* background-color: #e4e4e4;
  border-bottom: 6px solid #575757; */
  box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
  color: #575757;
  text-transform: uppercase;
}


td:last-child {
  align-items: center;
  justify-content: center;
}

td {
  max-width: 125px;
  overflow-x: auto;
}

td:last-child .btn-del {
  background-color: var(---btn-color-red);
}

td:last-child .btn-del:hover {
  background-color: var(---btn--select-red);
}

td:last-child .btn-edit {
  background-color: var(---btn-color-blue);
  margin-left: 2px;
}

td:last-child .btn-edit:hover {
  background-color: var(---btn--select-blue);
}

td:last-child button {
  border: 0px;
  border-radius: 3px;
  padding: 10px;
  color: white;
}

/* tr:nth-child(even) {
  background-color: #f0f0f0;
  border-bottom: 0.1px solid #575757;
} */


.div-CV {
  position: fixed;
  display: flex;
  top: 5px;
  left: 120px;
  gap: 5px;
}

.div-CV button {
  padding: 7px;
  border: 0px;
  color: white;
  border-radius: 3px;
}

.btn-get {
  background-color: #050D42;
}

.btn-get:hover {
  /* background-color: var(---btn-select-dor); */
  cursor: pointer;
}

.btn-create {
  background-color: #2F4BFF;
}

.btn-create:hover{
  /* background-color: var(---btn-select-dor); */
  cursor: pointer;
}

.class-btns-nodisplay {
  display: none;
}

.modal-editingi {
  pointer-events: all;
  display: flex;
  flex-direction: column;
  position: fixed;
  top:50px;
  z-index: 999;
  gap: 8px;
  padding: 20px;
  background-color: #ffff;
  border-radius: 20px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);

  & .form-modal-editingi {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  & .div-check-box-editingi-modal {
    display: flex;
    flex-direction: row;
    padding: 5px;
    gap: 7px;
  }
  
  & .btn-modal-editingi {
      color: #999797;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px;
      background-color: #ebebeb;
      border: 0.5px solid #ebebeb;
      padding: 7px;
      width: 100%;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
      cursor: pointer;
  }
  
  & .btn-x-editingi {
    padding: 6px;
    background-color: #050D42;
    color: white;
    border: 0;
    border-radius: 3px;
    transition: padding 1s ease-out;
    font-size: 18px;
    font-weight: bolder;
  }
  
  & .btn-x-editingi:hover {
    padding: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  
}

.modal-create {
  pointer-events: all;
  display: flex;
  flex-direction: column;
  position: fixed;
  top:50px;
  z-index: 1000;
  gap: 8px;
  padding: 20px;
  background-color: #ffff;
  border-radius: 20px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);

    & .form-modal-create {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    
    & .div-check-box-create-modal {
      display: flex;
      flex-direction: row;
      padding: 5px;
      gap: 7px;
    }
    
    & .btn-modal-create {
        color: #999797;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        background-color: #ebebeb;
        border: 0.5px solid #ebebeb;
        padding: 7px;
        width: 100%;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
        cursor: pointer;
    }
    
    & .btn-x-create {
      padding: 6px;
      background-color: #050D42;
      color: white;
      border: 0;
      border-radius: 3px;
      transition: padding 1s ease-out;
      font-size: 18px;
      font-weight: bolder;
    }
    
    & .btn-x-create:hover {
      padding: 10px;
      font-size: 22px;
      cursor: pointer;
    }
    
  
}




.modal-delete {
  pointer-events: all;
  display: flex;
  flex-direction: row;
  position: fixed;
  top:50px;
  z-index: 1001;
  gap: 8px;
  padding: 20px;
  background-color: #ffff;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
  align-items: center;

    & button {
      border: 0px;
      padding: 10px;
      color: white;
      border-radius: 5px;
    }

    & .btn-cancel-modal {
      background-color: #050D42;
    }
    
    & .btn-cancel-modal:hover {
      /* background-color: var(---btn-select-dor); */
      cursor: pointer;
    }
    
    & .btn-delete-modal {
      background-color: #2F4BFF;
    }
    
    & .btn-delete-modal:hover{
      /* background-color: var(---btn-select-dor); */
      cursor: pointer;
    }
}


select {
  font-size: 18px;
  border: 0px;
  outline: none;
  padding: 7px;
  box-shadow: 0 2px 1px 0 rgba(255, 255, 255, 0.2), 0 0px 0px 1px rgba(48, 48, 48, 0.19);
  background-color: #fcfcfc;
}


.errorip {
  background-color: var(---btn--select-red);
  color: white;
  padding: 5px;
  position: fixed;
}